@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
   
  }


@mixin fontlinecolor($font, $line,){
  font-size: $font;
  line-height: $line;
  color: #222;
}
h1{
 @include fontlinecolor(45px,60px);
}

h2{
 @include fontlinecolor(40px,50px);
}

h4{
  @include fontlinecolor(20px,15px);
}
