@import './variables.scss';

#barra_Navegacion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 20px 60px;
  background: $main-color;
  position: sticky;
  box-shadow: 0 6px 14px rgba(0, 0,0, 0.06);
  z-index: 999;
  
}

.logo{
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: $second-color;
  transition: 0.5s ease;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  li{
    list-style: none;
    padding: 0 19px;
    position: relative;
  }
}



.navbar li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: $second-color;
  transition: 0.5s ease;

}

.navbar li a:hover{
  color: $bg-color;
}

.navbar li a.inicio::after,
.navbar li a:hover::after{
  content: "";
  width: 25%;
  height: 2px;
  background-color: $bg-color;
  position: absolute;
  bottom: -4px;
  left: 20px;

}








