/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*================= VARIABLES ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --text-color: #302e29;
  --main-color: #ff9100;
  --second-color: #1f1515;
  --bg-color: #faeedf;
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

/*=============== GOOGLE FONTS ===============*/
/*================= VARIABLES ===============*/
:root {
  --text-color: #302e29;
  --main-color: #ff9100;
  --second-color: #1f1515;
  --bg-color: #faeedf;
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--textcolor);
}

/*=============== GOOGLE FONTS ===============*/
/*================= VARIABLES ===============*/
:root {
  --text-color: #302e29;
  --main-color: #ff9100;
  --second-color: #1f1515;
  --bg-color: #faeedf;
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

header {
  margin-left: 150px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 23px 5%;
  transition: all 0.38s ease;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  align-items: left;
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

.navbar {
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
  align-items: left;
  display: flex;
  text-align: right;
}

.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin-top: 10px;
  margin: 2px 25px;
  border-bottom: 2px solid transparent;
  transition: all 0.38s ease;
}

.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

.h-icons {
  margin-top: 9px;
  margin-right: 100px;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding: 12px 12px;
  background: var(--main-color);
  border-radius: 0.5rem;
}

.h-icons {
  font-size: 30px;
  color: var(--bg-color);
  margin-right: 10px;
  margin-left: 10px;
}
.h-icons.h-icons .h-icons:hover {
  background-color: #1E9600;
}
.h-icons.h-icons:hover {
  background-color: #1E9600;
}

#menu-icon {
  font-size: 32px;
  color: var(--bg-color);
  z-index: 100;
  cursor: pointer;
  display: none;
}

section {
  padding: 90px 15% 80px;
}

.home {
  height: 88vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: right;
  gap: 2rem;
}

.home-img img {
  width: 100%;
  height: auto;
}

.home-img {
  width: 100%;
  height: auto;
}

.imagenprincipal {
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 30px;
}

.home-text h1 {
  margin-top: 100px;
  font-size: var(--h2-font);
  line-height: 1.2;
  margin-bottom: 1rem;
  justify-content: center;
}

.home-text p {
  font-size: var(--p-font);
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--second-color);
  line-height: 32px;
  margin-bottom: 2.3rem;
}

.ubicacion {
  text-align: center;
}

.title {
  margin-left: 350px;
  font-weight: bold;
}

.btn {
  text-align: center;
  justify-content: center;
  display: auto;
  padding: 14px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: #1E9600;
}

/*Pages Story*/
.container {
  display: flex;
}

.parrafoJuan {
  margin-top: 50px;
  text-align: justify;
  width: 90%;
}

.imgMainJuan {
  margin-top: 50px;
  border-radius: 20px;
  width: 100%;
}

.parrafoCharro {
  margin-top: 60px;
  padding-left: 50px;
  text-align: justify;
  width: 100%;
}

.imgMainCharro {
  margin-top: 100px;
  border-radius: 20px;
  width: 100%;
}

.parrafoCoco {
  margin-top: 50px;
  margin-left: -50px;
  padding-left: 40px;
  text-align: justify;
  width: 100%;
}

.imgMainCoco {
  margin-top: 150px;
  border-radius: 20px;
  width: auto;
  height: auto;
}

.contactanos {
  margin-top: 50px;
  text-align: center;
  margin-left: 280px;
  font-weight: bold;
}

.dragon {
  margin-left: 150px;
  width: 25%;
}

.btnhistoria {
  margin-left: 350px;
  display: auto;
  padding: 14px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.btnhistoria:hover {
  background-color: #1E9600;
}

footer {
  text-align: center;
  padding: 40px;
}

/*# sourceMappingURL=styles.css.map */
