  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';
@import './body.scss';
@import './navbar.scss';

.textmain{
    background-image: linear-gradient(#D3CCE3,#E9E4F0);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 35% right 0;
    padding: 0 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    
}

.textmain h2{
    font-weight: bold;
    font-size:400%;
    padding-bottom: 15px;
}

.textmain h1{
    font-size: 400%;
    color: $bg-color;
}

.textmain button{
    margin-top: 20px;
    justify-content: center;
    border-radius: 15px;
    padding: 20px ;
    color: #cadee3;
    background-color:#2C5364;
    border: 100px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 16px;
}
.textmain p{
    font-size: 200%;
    font-weight:500;
}

.textmain button:hover{
    background-color: #6C5B7B;
}

.textmain img{
    margin-left: 800px;
    border-radius: 20px;
    width: 500px;
    position: absolute;
}
@import './historia.scss';
@import './menu.scss';
@import './contacto.scss';
@import './footer.scss'; 
